body{ 
	background-image:url('https://www.arup.com/-/media/arup/images/perspectives/themes/energy/evs/header-video.jpg'); 
} 
<style>
            #first {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #second {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #third {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #fourth {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #fifth {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #sixth {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #seventh {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #eight {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
        #ninth {
            border-radius: 10px;
            height: 25px;
            width: 90px;
            font-size: 20px;
            text-align: center;
        }
</style>